.paragraph{color: rgb(5, 121, 255);}
.paragraph{background-color: rgb(255, 255, 255);}
.Heading{background-color: rgb(255, 255, 255);}
.Heading{color: rgb(5, 121, 255);}
.Heading{ border : red; }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.centered{ color: chartreuse;}
.card{width: 550px;;}
.out{ background-color: rgb(112, 0, 112, 0.562);}
.card {
  box-shadow: 0 4px 8px 0 rgb(255, 0, 0);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(255, 4, 4);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}
.material-icons{
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}
.material-icons{
  box-shadow: 0 8px 18px 0 rgb(255, 255, 255);
}
.material-icons{
  border-radius: 5px 5px 0 0;
}
.material-icons{
  padding: 2px 16px;
}
